<h1> Links </h1>

Welcome, <%= @name if @name %>!

<%= @tag_name %>

<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
  </li>
  <% end %>
</ul>
