<h2>Please enter your details:</h2>

<%= "#{flash[:error]}" %>

<form action='/login' method="post">
  <p>
    <label for="email">Email:
      <input type="email" name='email' required>
    </label>
    <label for="password">Password:
      <input type="password" name='password' required>
    </label>
  <input type="submit" value='Sign in'>
</p>
</form
