<h1>New user sign up</h1>
<%= "#{flash[:error]}" %>

<form action='/signup' method="post">
  <p>
    <label for="name">Name:
      <input type="text" name='name' value = <%= "#{flash[:name]}" %> >
    </label>
    <label for="email">Email:
      <input type="text" name='email' value = <%= "#{flash[:email]}" %> >
    </label>
    <label for="password">Password:
      <input type="password" name='password'>
    </label>
    <label for="password_confirmation">Please confirm password:
      <input type="password" name='password_confirmation'>
    </label>
  <input type="submit" value='Sign up'>
</p>
</form
